@font-face {
  font-family: Prima Sans;
  src: url(fonts/Prima\ Sans\ Regular.otf);
}
@font-face {
  font-family: Prima Sans Bold; 
  src: url(fonts/Prima\ Sans\ Bold.otf);
}
@keyframes fadeIn{
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overlayOpen{
  from{opacity: 0;}
  to{opacity: 1;}
}
.contact-overlay-1,
.contact-overlay-2,
.contact-overlay-3,
.contact-overlay-4 {
  animation: overlayOpen 0.5s ease-in-out 0s 1 normal forwards;
}
#yourTargetElement{
}
html {
  background: url(img/landing_bg.jpg) no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
body {
  font-family: Prima Sans;
  overflow-x: hidden;
  /*position: absolute;*/
  width: 100vw;
  height: 100vh;
  margin: 0;

}
.exit-btn {
  font-family: Prima Sans Bold;
  color: #F9ECDB;
  position: absolute;
  top: 26px;
  right: 35px;
  font-size: 19px;
  cursor: pointer;
  background-color: red;
  border: none;
}
.blog {
  display: none;
}
.top-contacts {
  width: 100%;
  height: 37px;
  background-color: #9b7d53;
  color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.numbers,
.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.email {
  display: flex;
  flex-direction: row;
  gap: 71px;
}
.cell,
.telephone {
  flex: 1;
}
.telephone,
.cell,
.email {
  text-decoration: none;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.tel-icon,
.mob-icon,
.email-icon {
  width: 25px;
}
main {
  position: absolute;
  top: 14%;
  bottom: 210px;
  left: 138px;
  right: 424px;
}
h1 {
  opacity: 0;
  color: #202020;
  font-size: 70px;
  line-height: 94px;
  font-family: Prima Sans Bold;
  margin-bottom: 0;
  margin-top: 0;
  animation: fadeIn 2s ease-in-out 0s 1 normal forwards;
}
.border1 {
  opacity: 0;
  background: #202020;
  height: 12px;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out 1s 1 normal forwards;
}
section {
  padding-top: 13px;
}
.hook {
  opacity: 0;
  font-size: 22px;
  line-height: 29px;
  font-family: "Prima Sans";
  color: rgba(0, 0, 0, 1);
  background: #f9ecdb75;
  padding: 21px;
  animation: fadeIn 2s ease-in-out 4s 1 normal forwards;

}
.learn-more {
  opacity: 0;
  margin-top: 18px;
  color: #F9ECDB;
  border: none;
  background-color: #202020;
  font-size: 16px;
  padding: 9px 12px;
  border-radius: 7px;
  text-align: center;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
  animation: fadeIn 2s ease-in-out 6s 1 normal forwards;

}
.learn-more:hover {
  background-color: #F9ECDB;
  color: #202020;
}
nav {
  position: absolute;
  bottom: 47px;
  left: 60px;
  display: flex;
  flex-direction: row;
  gap: 57px;
  transition: transform 1s;
  }
nav a {
  text-decoration: none;
  color: #202020;
  font-family: Prima Sans Bold;
  font-size: 20px;
  transition: color 0.4s;
}
nav a:hover {
  color: #9b7d53;
}
.home {
  color: #9b7d53;
}
.logo {
  position: absolute;
  top: 56px;
  right: 10px;
  width: 169px;
}
.main-img {
  width: 539px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
.content {
  background: #ffffff59;
}

  
  .contact-overlay-1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.616);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .contact-query-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 47px 33px;
    background: url(img/scales-of-justice-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .query-heading {
    color: #F9ECDB;
    font-size: 40px;
    font-family: Prima Sans Bold;
  }
  .query-subheading {
    color: #F9ECDB;
    font-size: 17px;
    font-family: Prima Sans;
    font-weight: 900;
  }
  .query-border {
    background-color: #9B7D53;
    width: 363px;
    height: 12px;
    margin-top: 8px;
    margin-bottom: 36px;
  }
  .query-buttons {
    display: flex;
    gap: 37px;
  }
  .query-btn-1,
  .query-btn-2,
  .query-btn-3 {
    font-family: Prima Sans;
    font-weight: 900;
    color: #9B7D53;
    background-color: #F9ECDB;
    border: none;
    width: 183px;
    font-size: 31px;
    padding: 30px;
    border-radius: 14px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
  }
  .query-btn-3 a {
    text-decoration: none;
    color: #9B7D53;
  }
  .query-btn-3 a:hover {
    color: #F9ECDB;
  }
  .query-btn-1:hover,
  .query-btn-2:hover,
  .query-btn-3:hover  {
    background-color: #9B7D53;
    color: #F9ECDB;
  }
  .contact-overlay-2 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.616);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .contact-query-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 47px 33px;
    background: url(img/scales-of-justice-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .query-btn-4 {
    font-family: Prima Sans;
    font-weight: 900;
    color: #9B7D53;
    background-color: #F9ECDB;
    border: none;
    width: 256px;
    font-size: 31px;
    padding: 30px;
    border-radius: 14px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
  }
  .query-btn-4:hover {
    background-color: #9B7D53;
    color: #F9ECDB;
  }
  .contact-overlay-3 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.616);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .call-back-form,
  .message-form {
    display: flex;
    flex-direction: column;
    padding: 63px;
    align-items: center;
    background: url(img/scales-of-justice-BG.png);
    background-repeat: no-repeat;
    background-size: cover;  
  }
  .form-input {
    width: 544px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .field-title {
    margin-left: 10px;
    margin-bottom: 9px;
    color: white;
    font-size: 15px;
  }
  .input-field {
    border: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 5px #9B7D53 solid;
    background-color: #F9ECDB;
  }
  .input-field::placeholder {
    color: #9B7D53;
    font-size: 15px;
    font-weight: 900;
  }
  .input-field:focus {
    outline: none;
    color: #9B7D53;
    font-family: Prima Sans Bold;
    font-size: 15px;
  }
  textarea {
    resize: none;
  }
  textarea::placeholder {
    color: #9B7D53;
    font-size: 15px;
    font-family: Prima Sans Bold;
  }
  .form-button {
    padding: 7px 11px;
    background-color: #9B7D53;
    color: #F9ECDB;
    font-family: Prima Sans Bold;
    font-size: 19px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: color 0.5s, background-color 0.5s;
  }
  .form-button:hover {
    color: #9B7D53;
    background-color: #F9ECDB;
  }
  .contact-overlay-4 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.616);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

@media (min-width: 0px) and (max-width: 1000px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    left: 0;
    right: 0;
    top: 0;
    gap: 25px;
    bottom: auto;
    padding: 56px 0px;
    position: relative;
    transform: translateX(100%);
  }
  nav a {
    color: #F9ECDB;
    font-size: 15px;
  }
  .back-arrow {
    position: absolute;
    width: 24px;
    right: 31px;
    top: 20px;
  }
  .top-contacts {
    font-size: 2vw;
  }
  .tel-icon, .mob-icon, .email-icon {
    width: 4vw;
  }
  .menu {
    position: absolute;
    top: 42px;
    right: 40px;
    width: 49px;
  }
  main {
    left: 31px;
    right: 44px;
  }
  h1 {
    font-size: 31px;
    line-height: 42px;
  }
  .border1 {
    height: 5px;
  }
  .hook {
    font-size: 12px;
    line-height: 16px;
  }
  .learn-more {
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 4px;
  }
  .logo {
    width: 85px;
    bottom: 18px;
    left: 18px;
    top: auto;
    right: auto;
  }
  .call-back-form, .message-form {
    padding: 36px;
  }
  .query-heading {
    font-size: 18px;
    line-height: 24px;
  }
  .query-subheading {
    font-size: 7px;
    line-height: 10px;
  }
  .query-border {
    width: 188px;
    height: 4px;  
    margin-bottom: 13px;  
  }
  .input-field {
    padding: 6px;
  }
  .form-input {
    width: 293px;
  }
  .input-field::placeholder {
    font-size: 9.08322px;
    line-height: 12px;
  }
  .field-title {
    font-size: 9px;
    margin-bottom: 7px;
  }
  .form-button {
    padding: 4px 5px;
    font-size: 11px;
    border-radius: 3px;
  }
  .query-heading {
    text-align: center;
  }
  .query-btn-1, .query-btn-2, .query-btn-3 {
    width: 113px;
    font-size: 17px;
  }
  .query-btn-4 {
    width: 183px;
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .menu {
    display: none;
  }
  .back-arrow {
    display: none;
  }
}
